// COLORS
$primary-color: #a02dd1;
$secondary-color: #250657;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #7a8a9b;

$dark-background: #3e3c49;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
